h1 {
    color: green;
    background-color: blue;
    text-align: center;
    text-decoration: dashed;
    padding: 0;
    margin: 0;
}
div {
    color: aliceblue;
    background-color: limegreen;
    height: 100px;
    width: 100px;
    border: 2px solid green;
    border-radius: 20px;
}